<div class="one-clear">
    <label for="name">Name</label>
    <input id="name" type="text" ng-model="name" />
</div>
<div class="one-clear">
    <label for="price">Price</label>
    <input id="price" type="text" ng-model="price" />
</div>
<div class="one-clear">
    <label for="image">Image</label>
    <input id="image" type="text" ng-model="image" />
</div>
<div class="one-clear">
    <label for="quantity">Quantity</label>
    <input id="quantity" type="text" ng-model="quantity" />
</div>
<div class="one-clear">
    <input type="button" value="submit" ng-click="submitAction()" />
</div>