<div class="one-clear container">
    <div class="col-xs-3">
        <ul>
            <div class="one-clear">Phones Aministration</div>
            <li><a href="/admin#/phones">View All</a></li>
            <li><a href="/admin#/phones/create">Create</a></li>
        </ul>
        
    </div>
    <div class="col-xs-9">
        <div class="one-clear" ng-view></div>
    </div>
</div>